<ion-content>
  <ion-button *ngIf= "running_on_mobile_boolean" fill="clear" style="font-size: larger;" (click)="backToMainPage()">
    <ion-icon slot="start" name="arrow-back-outline" style="padding-bottom: 3px;"></ion-icon>
    返回
  </ion-button>

  <ion-card>
    <ion-card-header style="padding-bottom: 0;">
      <ion-card-title>聯絡方法</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <ion-card-content>
      <!-- Here's a small text description for the card content. Nothing more, nothing less. -->
      <ol class="quickStarted" style="padding-inline-start: 18px;">
        <li>
          電郵：enquiry.rgts@gmail.com
        </li>
        <li>
          電話：8481-0890
        </li>
        <li>
          商務合作：朱生／沈生
        </li>
        <li>
          技術支援：何生
        </li>
      </ol>
    </ion-card-content>

    <!-- <ion-button style="margin-left: 16px;">Default</ion-button> 
    而旺勢指數嘅組成,基本上就係根據賽馬日中,騎師,練馬師,檔位同馬匹編號嘅表現,而將以上嘅元素結合,變成一個數字,我哋叫佢做旺勢指數,而呢個指數,將會應用響每隻即場嘅馬匹身上 頭三位
    -->

  </ion-card>

  <ion-card>
    <ion-card-header style="padding-bottom: 0;">
      <ion-card-title>Contact method</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <ion-card-content>
      <!-- Here's a small text description for the card content. Nothing more, nothing less. -->
      <ol class="quickStarted" style="padding-inline-start: 18px;">
        <li>
          Email：enquiry.rgts@gmail.com
        </li>
        <li>
          Phone：8481-0890
        </li>
        <li>
          Business：Mr.Chu/Mr.Shum
        </li>
        <li>
          Support：Mr.Hoe
        </li>
      </ol>
    </ion-card-content>

    <!-- <ion-button style="margin-left: 16px;">Default</ion-button> 
    而旺勢指數嘅組成,基本上就係根據賽馬日中,騎師,練馬師,檔位同馬匹編號嘅表現,而將以上嘅元素結合,變成一個數字,我哋叫佢做旺勢指數,而呢個指數,將會應用響每隻即場嘅馬匹身上 頭三位
    -->
  </ion-card>
</ion-content>