<!--
<ion-header>
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>
-->


<ion-content class="ion-padding">
  <ion-button *ngIf= "running_on_mobile_boolean" fill="clear" style="font-size: larger;" (click)="backToMainPage()">
    <ion-icon slot="start" name="arrow-back-outline" style="padding-bottom: 3px;"></ion-icon>
    返回
  </ion-button>
  <!-- <ion-button shape="round" expand="block" (click)="webShare()">Web Share</ion-button> -->
  <h6>English version will be followed</h6>
  <!-- <ion-button slot="end">Back</ion-button> -->
  <!-- <ion-row>
    <ion-col size="11">
      <h6>English version will be followed</h6>
    </ion-col>
    <ion-col size="1">
      <ion-button fill="clear" style="color: red; font-size: 23px;">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row> -->
  
  <p>
    本網頁由RGTS Hong Kong Company Limited 以走地通手機程式之名義營業（下稱 「<strong>走地通</strong>」，「<strong>本公司</strong>」及「<strong>我們</strong>」）營運。
  </p>
  <h4>私隱條款</h4>
  <div class="dashLine"></div>
  <p>
    <strong><u>對資料私隱的承諾</u></strong>
  </p>
  <p>
    本公司將盡力確保其所保存個人資料的機密及安全，將會致力貫徹執行香港特別行政區個人資料私隱條例的原則及規定。
  </p>
  <p>
    <u>收集個人資料</u>
  </p>
  <p>
    只適用於購買走地通即時數據服務的用戶，於購買流程中用戶需要提供電郵地址。至於其他用戶是不需要提供任何個人資料，就可以使用走地通手機程式。
  </p>
  <p>
    <u>使用個人資料</u>
  </p>
  <ol>
    <li>
      核實閣下身分；
    </li>
    <li>
      方便本公司與閣下通信；
    </li>
    <li>
      確保閣下購買的走地通數據服務運作正常。
    </li>
  </ol>
  <p>
    <u>披露個人資料</u>
  </p>
  <ol>
    <li>
      法律規定或授權的政府及監管機構、調查機構及執法機關以及其他機構；
    </li>
    <li>
      基於閣下提出的任何意見或索償而作出所需的披露。
    </li>
  </ol>
  <p>
    <u>個人資料的安全</u>
  </p>
  <ol>
    <li>
      本公司將盡一切合理努力確保持有的個人資料均儲存於妥善保管和安全的地方，並且只可由已獲授權的人員或第三方服務提供者查閱；
    </li>
    <li>
      所有走地通數據傳送已經加密，但請注意任何系統均有可能被入侵，且不能保證數據在互聯網傅送時完全安全。因此，我們不能保證在互聯網上由閣下傳送予走地通或閣下從走地通收到的數據之安全性。
    </li>
  </ol>
  <p>
    <u>私隱條款的修改</u>
  </p>
  <ol>
    <li>
      本公司可於其認為必要時更改私隱條款而毋須事先通知，
    </li>
    <li>
      由於本公司未必就更改私隱條款作出個別通知，故此使用者使用走地通程式時應定期參閱條款。
    </li>
  </ol>

  <h4>使用條款</h4>
  <div class="dashLine"></div>

  <p>
    以下條款（下稱「本條款」）為用戶使用RGTS Hong Kong Company Limited（以下通稱「RGTS」）提供的手機應用程式（下稱「走地通」）時所需遵守的條款。
    請閱讀以下條款，如選擇使用走地通，代表用戶同意以下任何一項條款。
  </p>

  <p>
    <u>授權</u>
  </p>
  <p>
    根據本條款，RGTS允許用戶下載、安裝走地通的同時，授與客戶使用走地通有限、個人、非牟利、非獨佔、不可轉授權、不可讓渡且免費的權限。
  </p>  
  <p>
    <u>限制</u>
  </p>
  <ol>
    <li>
      用戶必須年滿18歲。
    </li>
    <li>
      關於走地通的所有版權、知識產權及其他一切權利皆屬RGTS所擁有。
    </li>
    <li>
      根據本條款，不論任何目的，用戶均不能復制、販售、加工、讓渡、出租、租賃、出口、進口、散佈走地通之部份或全部﹔成為走地通之中介人或提供者﹔向第三者授與走地通的全部或部份權利。
    </li>
    <li>
      不會從事涉及走地通或其服務的使用的任何欺詐性，不誠實或非法活動；及/或
    </li>
    <li>
      不會從事我方獨自認為具有侵犯性，有害或令人反感或限制或約束任何其他用戶適當使用或享受走地通或其服務或對RGTS聲名受損的任何行為。
    </li>
    <li>
      用戶如不再使用走地通時，請刪除走地通。
    </li>
    <li>
      本公司可終止用戶對走地通的使用權。
    </li>
  </ol>

  <h4>免責聲明</h4>
  <div class="dashLine"></div>
  <p>
    本公司特此聲明，在法律允許的最大範圍內，排除所有有關走地通的，無論明示或默示、法定或其他方面的保證、條件、承諾、陳述及條款。用戶將自行承擔使用走地通的風險。走地通所提供的資料僅供參考之用，我們不保證該等資料的準確性、完整性、可靠性或及時性。本公司概不負責用戶就任何直接或間接使用或依賴此等資料所引起的索賠、債務、損失或損害。
  </p>
  <p>
    本公司不表述或保證(不論是明示或默示)走地通中接觸到或提供的任何陳述資料、服務及產品是否完整、最新、正確、準確、可靠、不受干擾。用戶明白及同意走地通的該等資料、任何經走地通提供之服務或產品乃按照「現況」及「現有」的基礎而提供。此外，我們對關於該等資料、服務、產品或其他於走地通連接到或接觸到的連結網站之可商售品質性、不侵權、保安、於某用途的適用性、不受病毒影響、與用戶設備的兼容性等不作出保証。
  </p>

  <h4>聯絡我們</h4>
  <div class="dashLine"></div>
  <p>
    用戶如需要就走地通或以上條款的事宜聯絡我們，請以電郵方式寄送到 enquiry.rgts@gmail.com
  </p>
  <p>
    This web page is operated by RGTS Hong Kong Company Limited trading as RGTS App （「<strong>RGTS</strong>」，「<strong>we</strong>」，「<strong>us</strong>」and「<strong>our</strong>」）
  </p>
  <h4>Privacy Policy</h4>
  <div class="dashLine"></div>
  <p>
    <strong><u>Commitment to Protect Privacy</u></strong>
  </p>
  <p>
    RGTS will do our best ensuring the confidentiality and security of the Personal Data we hold and aims to meet this commitment by implementing the principles and requirements of the Personal Data Privacy Ordinance of the Hong Kong Special Administrative Region.
  </p>
  <p>
    <u>Collect Personal Data</u>
  </p>
  <p>
    Only applicable for the user purchased our real time data services. During the purchasing process, user is required to provide an email address. All other users is not required to provide any personal data in order to use RGTS App.
  </p>
  <p>
    <u>Using Personal Data</u>
  </p>
  <ol>
    <li>
      Verifying your identity;
    </li>
    <li>
      Facilitating communications between user and RGTS;
    </li>
    <li>
      Ensure user who purchased real time data services working fine.
    </li>
  </ol>
  <p>
    <u>Disclose Personal Data</u>
  </p>
  <ol>
    <li>
      Government and regulatory authorities, investigative bodies and law enforcement agencies and other organisations, as required or authorised by Law;
    </li>
    <li>
      Making such disclosures in respect of any feedback or claims made by user.
    </li>
  </ol>
  <p>
    <u>Safety of Personal Data</u>
  </p>
  <ol>
    <li>
      All reasonable efforts are made to ensure that any personal data held by us is stored in a secure and safe place, and accessed only by our authorised person or authorised Third Party Service Providers;
    </li>
    <li>
      All RGTS App data transmission will be encrypted. However, user should be aware that no system is impenetrable and no information provided over the Internet World can be guaranteed to be completely secure. Accordingly, we cannot guarantee the security of any information that user transmit to us or receive from us over the Internet.
    </li>
  </ol>
  <p>
  <p>
    <u>Amendments Privacy Policy</u>
  </p>
  <ol>
    <li>
      RGTS reserves the right to alter or amend Privacy Policy at any time without prior notice;
    </li>
    <li>
      Since RGTS might not issue any Privacy Policy amendment notice, user should review this Privacy Policy from time to time while using RGTS App.
    </li>
  </ol>
  <h4>Terms of use</h4>
  <div class="dashLine"></div>
  <p>
    The following terms and conditions (hereafter known as "the Terms" govern all use of the mobile applications (hereafter known as "RGTS App") provided by RGTS Hong Kong Company Limited (hereafter collectively known as "RGTS").
    Please read these Terms carefully. By using or accessing any part of RGTS App, you agree to all of the terms and conditions contained herein.
  </p>
  <p>
    <u>License</u>
  </p>
  <p>
    Base on these Terms, by downloading and installing RGTS App, you are granted limited, non-exclusive, non-transferable, revocable license to use RGTS App only for yourself.
  </p>
  <p>
    <u>Limitations</u>
  </p>
  <ol>
    <li>
      User must be 18 years of age or above.
    </li>
    <li>
      All rights reserved (including, but not limited to, copyright) pertaining to all the materials and information from RGTS App are belonged to RGTS.
    </li>
    <li>
      According to this Terms, user agree that you will not copy, display, distribute, republish, create derivative works from, reproduce, or commercially exploit any materials from RGTS APP in any form or act as an agent or provider on behalf of RGTS unless otherwise specified.
    </li>
    <li>
      Not to engage in any fraudulent, dishonest, or unlawful activity in connection with the use of RGTS App or its real time data services; and/or
    </li>
    <li>
      Not to engage in any conduct which, in our sole opinion, is offensive, harmful or objectionable or restricts or inhibits any other users from properly using or enjoying RGTS App or its services or which brings RGTS into disrepute.
    </li>
    <li>
      Please delete RGTS App if user decided not to use it anymore.
    </li>
    <li>
      RGTS reserve the right to terminate the right to use of RGTS App. 
    </li>
  </ol>
  <h4>Disclaimer</h4>
  <div class="dashLine"></div>
  <p>
    To the maximum extent permitted by applicable law, RGTS accepts no liability for any direct or indirect loss or damage, foreseeable or otherwise, including any indirect, consequential, special or exemplary damages, arising from the use of RGTS App or any of its content. Users should be aware that they use RGTS Apps and its content wholly at their own risk.
  </p>
  <p>
    RGTS does not, whether expressly or impliedly, warrant or represent that any information, services or products accessible or provided via RGTS App is complete, up to date, correct, accurate, reliable, uninterrupted. User understands and agrees that such information, any services or product provided under RGTS App to you on an “AS IS” and “AS AVAILABLE” basis. Further, no warranty regarding merchantability, non-infringement, security, fitness for purpose, free from viruses or compatibility with user device is given in connection with such information, services or products, and any other websites linked to or accessed via RGTS App.
  </p>
  <h4>Contact us</h4>
  <div class="dashLine"></div>
  <p>
    If user have any matters related to RGTS App and the above Policies, please send an email to enquiry.rgts@gmail.com
  </p>



  <!-- <div class="sign-container gradient-1"> -->
  <!-- <div class="sign-container">
    <div class="header">
      <div class="ion-text-center" style="padding-top: 36px">
        <!&& <img src="../../assets/icon/edit.svg" alt=""> 
                <img src="../../../assets/icon/edit.svg" alt="">
        &&>
        <img style="width: 90%;" src="assets/img/underconstruction.png" alt="">
      </div>
    </div>
  </div>     -->
</ion-content>
